@model IEnumerable<MyBlog.Models.TagViewModel>
@{
    ViewBag.Title = "Tags";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h3>Tags</h3><img src="~/Resources/Tag.png" width="150" height="150">
        <p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
                @foreach (var tag in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => tag.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => tag.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = tag.Id }) |

                            @Html.ActionLink("Delete", "Delete", new { id = tag.Id })
                        </td>
                    </tr>
                }
            </table>
        </p>
    </div>
</body>
</html>

